<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="https://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div>
		<form action="#" th:action="@{/asignatura/edit}" th:object="${asig}" method="post">
			<fieldset>
    			<legend>Asignatura</legend>
    				<table>
    				<tr>
    					<td><label th:text="Nombre"></label><td>
    					<td><input type="text" th:field="*{nombre}"/></td>
    				</tr>
    				<tr>
    					<td><label th:text="Orden"></label><td>
    					<td><input type="text" th:field="*{orden}"/></td>
    				</tr>
    				<tr>
    					<td><label th:text="Clase"></label><td>
    					<td><select th:field="${asig.idClase}">
						<option th:each="clase : ${asig.listaClases}"
								th:value="${{clase.id}}"
								th:text="${clase.nombre}"
								th:selected="(${clase.id} eq ${asig.idClase})"/>
						</select></td>
    				</tr>
    				<tr>
	                <td>
	                    <button type="submit">Editar</button>
	                </td>
	                </tr>
    				</table>
    		</fieldset>
            <input type="hidden" th:field="${asig.id}"/>
		</form>
	</div>


</body>
</html>