<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="https://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
		<h3>Clases</h3>
      <button onclick="location.href = 'alumnos';">Alumnos </button>
      <button onclick="location.href = 'asignaturas';">Asignaturas</button>
      <button onclick="location.href = 'profesores';">Profesores</button>
	
	<table>
		<tr>
			<th>NOMBRE</th>
		</tr>	
		<tr th:each="clase : ${clases}">
			<td th:text="${clase.nombre}">nombre</td>
			<td> <a th:href="@{/editarClase(idClase=${clase.id})}">Editar</a></td>
		</tr>
	</table>
</body>
</html>