<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insertar Datos Alumno</title>
<link REL=StyleSheet HREF="css/style.css" type="text/css" >

</head>
<body>
<div class="formulario">
	<form action="" th:action="@{/guardaDatosAlumno}" th:object="${alumnoDto}" method="post">
		<div>
			<label for="nombre">Nombre: </label> 
			<input type="text"	th:field="*{nombre}" />
		</div>
		<div>
			<label for="apellidos">Apellidos: </label> 
			<input type="text"	th:field="*{apellidos}" />
		</div>
		<div>
			<label for="email">Email: </label> 
			<input type="text"	th:field="*{email}" />
		</div>
		<div>
			<label for="ciudad">Ciudad: </label> 
			<input type="text"	th:field="*{ciudad}" />
		</div>
		<div>
			<label for="cursos">Cursos: </label>
			
			<select th:field="${alumnoDto.idClase}">

				<option th:each="curso : ${alumnoDto.listaClase}"
						th:value="${{curso.idClase}}"
						th:text="${curso.nombreClase}"
						th:selected="(${curso.idClase} eq ${alumnoDto.idClase})" />
			</select>
		</div>
		<div >
		<label for=""> </label>
			<input type="hidden" th:field="${alumnoDto.id}" value="${alumnoDto.id}" />
			<input type="button" onclick="history.back()" value="Cancelar" />
			<input type="submit" value="Modificar" />
		</div>
	</form>
	</div>
</body>
</html>