<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Lista Alumnos</title>
<link REL=StyleSheet HREF="css/style.css" type="text/css" >
</head>


<body>
<nav>
<ul>
	<li><a href=/listaAlumnos>Tabla Alumnos </a>
		<ul>
			<li><a th:href="@{/introducirDatosAlumno(identificador=-1)}">NUEVO ALUMNO</a></li>
		</ul>
	<li><a href=/listaProfesores>Tabla Profesores </a></li>
	<li><a href=/listaAsignaturas>Tabla Asignaturas </a></li>
	<li><a href=/listaClases>Tabla Clases</a>
</ul>
</nav>
	<table class="blueTable">
		<tr>
			<th>NOMBRE</th>
			<th>APELLIDOS</th>
			<th>EMAIL</th>
			<th>CIUDAD</th>
			<th>CURSO</th>
		</tr>
		<tr th:each="alumno : ${alumnoDto}">
			<td th:text="${alumno.nombre}"></td>
			<td th:text="${alumno.apellidos}"></td>
			<td th:text="${alumno.email}"></td>
			<td th:text="${alumno.ciudad}"></td>
			<td th:text="${alumno.nombreClase}"></td>
			<td><a th:href="@{/listaAsignaturasAlumno(identificador=${alumno.id})}">ASIGNATURAS</a></td>
			<td><a th:href="@{/introducirDatosAlumno(identificador=${alumno.id})}">EDITAR</a></td>
			<td><a th:href="@{/borrarDatosAlumno(identificador=${alumno.id})}">BORRAR</a></td>
		</tr>
	</table>
</body>
</html>