<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<link REL=StyleSheet HREF="css/style.css" type="text/css" >

<table class="blueTable">
		<tr>
			<th>NOMBRE</th>
			<th>APELLIDOS</th>
			<th>EMAIL</th>
			<th>CIUDAD</th>
			<th>CURSO</th>
		</tr>
		<tr th:each="alumno : ${alumnoDto}">
			<td th:text="${alumno.nombre}"></td>
			<td th:text="${alumno.apellidos}"></td>
			<td th:text="${alumno.email}"></td>
			<td th:text="${alumno.ciudad}"></td>
			<td th:text="${alumno.nombreClase}"></td>
		</tr>
	</table>
	<br>
	<table class="blueTable">
		<tr>
			<th>NOMBRE</th>
			<th>ORDEN</th>
			<th>CURSO</th>
		</tr>
		<tr th:each="asignatura : ${asignaturaDto}">
			<td th:text="${asignatura.nombre}"></td>
			<td th:text="${asignatura.orden}"></td>
			<td th:text="${asignatura.nombreClase}"></td>
		</tr>
	</table>
	<form>
		<input type="button" onclick="history.back()" value="Volver" />
	</form>
</body>
</html>