<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Lista Clases</title>
<link REL=StyleSheet HREF="css/style.css" type="text/css" >

</head>
<body>
<nav>
<ul>
	<li><a href=/listaAlumnos>Tabla Alumnos </a>
		<ul>
			<li><a th:href="@{/introducirDatosAlumno(identificador=-1)}">NUEVO ALUMNO</a></li>
		</ul>
	<li><a href=/listaProfesores>Tabla Profesores </a></li>
	<li><a href=/listaAsignaturas>Tabla Asignaturas </a></li>
	<li><a href=/listaClases>Tabla Clases</a>
</ul>
</nav>
	<table class="blueTable">
		<tr>
			<th>NOMBRE</th>
			<th>ORDEN</th>
		</tr>
		<tr th:each="clase : ${claseDto}">
			<td th:text="${clase.idClase}"></td>
			<td th:text="${clase.nombreClase}"></td>
		</tr>
	</table>
</body>
</html>