<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link REL=StyleSheet HREF="css/style.css" type="text/css" >
</head>
<body>

<body>
<nav>
<ul>
	<li><a href=/listaAlumnos>Tabla Alumnos </a>
		<ul>
			<li><a th:href="@{/introducirDatosAlumno(identificador=-1)}">NUEVO ALUMNO</a></li>
		</ul>
	<li><a href=/listaProfesores>Tabla Profesores </a></li>
	<li><a href=/listaAsignaturas>Tabla Asignaturas </a></li>
	<li><a href=/listaClases>Tabla Clases</a>
</ul>
</nav>
	<table class="blueTable">
		<tr>
			<th>NOMBRE</th>
			<th>APELLIDOS</th>
			<th>EMAIL</th>
			<th>CIUDAD</th>
			<th>CURSO</th>
		</tr>
		<tr th:each="profesor : ${profesorDto}">
			<td th:text="${profesor.nombre}"></td>
			<td th:text="${profesor.apellidos}"></td>
			<td th:text="${profesor.email}"></td>
			<td th:text="${profesor.ciudad}"></td>
			<td th:text="${profesor.nombreClase}"></td>
			<td><a th:href="@{/introducirDatosProfesor(identificador=${profesor.id})}">EDITAR</a></td>
		</tr>
	</table>
	<form>
		<input type="button" onclick="history.back()" value="Volver" />
	</form>
</body>
</html>