<!DOCTYPE html>
<html xmlns="http://www.w3.org/199/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	
	 <form action="#" th:action="@{/guardarProfesor}" th:object="${profesores}" method="post">
		  Name: <input type="text" th:field="*{nombreProfesor}" /><br/>  
		  Surname: <input type="text" th:field="*{apellidosProfesor}" /><br/>
		  Email: <input type="text" th:field="*{emailProfesor}" /><br/> 
		  Id: <input type="text" th:field= "*{id}"/> <br/> 
		   <br/>
		 Lista Cursos: 		 
		<select th:field ="${profesores.idCurso.id}">
			<option th:each ="curso:${profesores.cursos}"
			th:value="${{curso.id}}"
			th:text="${curso.nombre}"
			th:select ="(${curso.id} == ${profesores.idCurso.id})"/>
			</select>
		 <input type="hidden" th:field="${profesores.id}" value="${profesores.id}" />
		   <input type="submit" value="Guardar" />
	</form>
	
</body>
</html>