<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="https://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div>
		<form action="" th:object="${prof}" method="get">
			<fieldset>
    			<legend>ALUMNO</legend>
    				<table>
    				<tr>
    					<td><label th:text="Nombre"></label><td>
    					<td><input type="text" th:field="*{nombre}"/></td>
    				</tr>
    				<tr>
    					<td><label th:text="Apellidos"></label><td>
    					<td><input type="text" th:field="*{apellidos}"/></td>
    				</tr>
    				<tr>
    					<td><label th:text="Email"></label><td>
    					<td><input type="text" th:field="*{email}"/></td>
    				</tr>
    				<tr>
    					<td><label th:text="Ciudad"></label><td>
    					<td><input type="text" th:field="*{ciudad}"/></td>
    				</tr>
    				<tr>
	                <td>
	                    <button type="submit">Editar</button>
	                </td>
	                </tr>
    				</table>
    		</fieldset>
            
		</form>
	</div>


</body>
</html>