<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="https://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Lista alumnos</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center">
  <h1>Profesores</h1>     
    <a href="/home">home</a>   
<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand"></a>
<form class="form-inline"  th:action="@{/buscar/profesores}"  method="post">
    <input  class="form-control mr-sm-2" type="text" placeholder="Search" th:value="${sourceText}" name="sourceText"/>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>	
</nav>

</div>
<div class="jumbotron text-center">
      <button onclick="location.href = '/lista/clases';" class="btn btn-primary btn-lg">Clases </button>
      <button onclick="location.href = '/lista/asignaturas';" class="btn btn-primary btn-lg">Asignaturas</button>
      <button onclick="location.href = '/lista/alumnos';" class="btn btn-primary btn-lg">Alumnos</button>
	<table class="table table-striped">
		<tr>
			<td><b>ID</b></td>
			<td><b>NOMBRE</b></td>
			<td><b>APELLIDOS</b></td>
			<td><b>EMAIL</b></td>
			<td><b>CIUDAD</b></td>
			<td><b>ID_CLASE</b></td>
			<td></td>
			<td></td>
		</tr>	
		<tr th:each="prof : ${profesores}">
			<td th:text="${prof.id}">nombre</td>
			<td th:text="${prof.nombre}">nombre</td>
			<td th:text="${prof.apellidos}">apellidos</td>
			<td th:text="${prof.email}">email</td>
			<td th:text="${prof.ciudad}">ciudad</td>
			<td th:text="${prof.nombreClase}">id Clase</td>
			<td> <a th:href="@{/editarProfesor(idProfesor=${prof.id})}" class="btn btn-success">Editar</a></td>
			<td> <a th:href="@{/borrarProfesor(idProfesor=${prof.id})}" class="btn btn-danger">Borrar</a></td>
		</tr>
		<tr>
		<td></td><td></td><td></td><td></td><td></td><td></td>
		<td> <a th:href="@{/editarProfesor}" class="btn btn-primary">Nuevo</a></td>
		</tr>
	</table>
</div>
</body>
</html>